@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}
a{
  text-decoration: none ;
  color:#fff;
  transition:0.3s; 
}
ul{
  list-style:none;
}
img{
  max-width: 100%;
}
body{
  font-family: 'Lexend', sans-serif;
  font-size:16px;
  line-height:24px; 
  background-color:#202020;
}
.container{
  width: 1170px;
  margin:auto;
}

 /*---------------------------Header---------------------------*/

 .header-area{
    padding:25px 0;
    transition: padding .3s;
  }
  
  .header-area.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #202020;
    padding: 5px;
  }
  
  .header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 2rem; */
  } 
  .logo {
    display: flex;
    align-items: center;
    position: relative; 
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
  }
  
  .logo .fa-bolt {
    color: #fed700;
    font-size: 19.5px;
    position: absolute; 
    top: 60%;
    left: 100%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
  }
  
  .signature {
    width: 100px; 
    height:auto; 
    margin-right: 10px; 
  }
  
  .header ul li:first-child {
    margin-right: auto; 
  }  
  
  .header ul{
    display: flex;
    align-items: center; 
  }
  .header ul li{
    margin: 0 15px;
  }
  .header ul li a{
    text-transform: capitalize;
    display: block;
  }
  .header ul li a.active{
    color: #fed700;
  } 
  .header ul li a:hover{
    color:#fed700;
  }
  .header .menu_icon{
    color:#fff;
    font-size: 18px;
    cursor: pointer;
    display: none;
  }

  
 /*---------------------------Home Page---------------------------*/
 .FirstElement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
 }
 FirstElement.adjusted-padding {
    padding-top: 40px;
 }
 
 .FirstElement .profile-photo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.25);
 }

 profile-photo .img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
 }
 .FirstElement .profile-photo img:hover{
    transform: scale(1.2);

 }
 .profile-text{
    display: flex;
    flex-direction: column;
    max-width: 750px;
 }

 .profile-text h5{
    color: white;
    font-size: 14px;
 }
 .profile-text h1{
    color: yellow;
    font-size: 50px;
 }

 .pro{
    color: whitesmoke;
 }

 .profile-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
    /* ro; */
    /* transform: rotate(360);
     */
 }
 .profile-text .social  i:hover{
    color: #fed700;
    transform: rotate(360deg);
 }



  /*---------------------------About---------------------------*/

  .about-area{
    padding-top: 130px;
    background-color: #202020;
  }

  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .about-container{
    flex-basis: 60%;
  }

  .about-container h4{
    color: gold;
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 70px;
    text-transform: capitalize;
  }
  .about-container ul {
    color: #e5e5e5;
    /* display: flex; */
    text-align: justify;
    /* list-style-type: disc;
    margin-bottom: 10px; */

  }

  .about-container ul li {
    list-style-type: disc;
    margin-bottom: 10px;
  }

  .about-skills{
    flex-basis: 35%;
  }
  .about-skills ul li{
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
  }

  .about-skills ul li:last-child{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  /*---------------------------Button---------------------------*/

  .btn-group{
    margin: 45px 0;
  }
  .btn{
    border-color: wheat;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px;
    margin-right: 7px;
    border-radius: 35px;
    border: 3.5px solid gainsboro;
    box-shadow: 0 10px 10px -8px rgba(0 0 0 /78%);
  }
  .btn.active{
    border-color: gold;
  }

/*---------------------------Education & Internship---------------------------*/

.education-container .row{
  display: flex;
  border-radius: 15px;
  height: 400px;
  margin-bottom: 250px ;
}

.education-container .title{
  color: gold;
}
.education-container .row .education,
.education-container .row .internship{
  color: white;
  flex: 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

.education-container h3.title{
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
}

.education-container .row.timeline-box{
  flex: 0 0 100%;
  max-width: 100%;
}
.education-container .row .timeline{
  padding: 30px 15px;
  /* flex: 0 50%; */
  /* max-width: ; */
  border-radius: 10px;
  border: 1px solid white;
  width: 100%;
  position: relative;

}

.education-container .row .timeline-item{
  position: relative;
  padding-left: 37px;
  padding-bottom: 30px;
}

.education-container .row .timeline-item:last-child{
  padding-bottom: 0;
}

.education-container .row .timeline-item::before{
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: #fed700;  
}

.education-container .row .circle-dot{
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
}

.education-container .row .timeline-title{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.education-container .row .internship .timeline-title  {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}

.education-container .row .timeline-text{
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
}

.footer{
  display: flex;
  max-width: 950;
  left: 0;
  right: 0;
  height: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255, 0.4);
  flex-direction: column;
  justify-items: center;
  align-items: center;

}
.footer .message{
  font-size: 15px;
  color: rgba(255 , 255, 255, 0.4);
  margin-bottom: 10px;
}

.copyright{
  font-size: 12px;
}

/*---------------------------Projects---------------------------*/
.project-content{
  padding: 90px 0;
  /* color:#fff;  */
}
.project-title{
  margin-bottom: 60px;
  text-align: center;
}
.project-title h4{
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  color: #fed700;
  margin-bottom: 20px;
}
.project-title p{
  color: #e5e5e5;
}
.projects{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.project{
    /* padding: 30px 15px; */
    color: #e5e5e5;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding: 25px;
    text-align: center;
    flex-basis: 32%;
    transition: .3s;
}
.project i{
  background-color: #fed700;
  width: 60px;
  height: 60px;
  color: #333;
  font-size: 26px;
  line-height: 60px;
  border-radius: 50%;
}
.project h4{
  font-size: 26px;
  text-transform: capitalize;
  margin: 20px 0;
}
.project p{
  text-align: justify;
}
.project:hover{
  border-color: #fed700;
}

.project-container{
  padding: 50px 0;
  /* margin-top: 10px; */
  
}




 
  
  